[Unit]
Description=Prometheus Node Exporter {{ NODE_EXPORTER_VERSION }}
After=network.target

[Service]
Environment=NODE_EXPORTER_OPTS="--collector.systemd"
Type=simple
Restart=always
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/node_exporter $NODE_EXPORTER_OPTS

[Install]
WantedBy=multi-user.target
