[Unit]
Description=Prometheus v{{ PROMETHEUS_VERSION }}
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/prometheus \
--config.file /etc/prometheus/prometheus.yml \
--storage.tsdb.path /var/lib/prometheus \
--web.console.templates=/etc/prometheus/consoles \
--web.console.libraries=/etc/prometheus/console_libraries \
--storage.tsdb.retention.time=7d

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
